<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.trycatch.coffee.mappers.boardrecipeMapper">

	<insert id="boardrecipeinsert" parameterType="BoardRecipeDTO">
		insert into board_recipe(board_recipe_title, board_recipe_content, board_recipe_writer, board_recipe_date,board_recipe_likes,board_recipe_count,board_recipe_file,member_no)
		values(#{board_recipe_title},#{board_recipe_content},#{board_recipe_writer},now(),0,0,#{board_recipe_file},#{member_no})
		
	</insert>
	
	<select id= "boardrecipelistall" resultType="BoardRecipeDTO">
		select * from board_recipe
	</select>
	
	<select id= "boardrecipelistall_with_memberNo_date" parameterType="hashMap" resultType="BoardRecipeDTO">
		select * from board_recipe where member_no = #{member_no}
		<if test="date != ''">
		    and date(board_recipe_date) = #{date}
		</if>
	</select>
	
	<select id="boardrecipelist" resultType="BoardRecipeDTO">
		select * from board_recipe where board_recipe_no>0 order by board_recipe_no desc limit #{limit+1},10
	</select>
	
	<select id="boardrecipesearch" resultType="BoardRecipeDTO" parameterType="map">
		select * from board_recipe where board_recipe_title like concat("%",#{board_recipe_search},"%") order by board_recipe_no desc limit #{limit} ,10
	
	</select>
	
	<select id="boardreciperead" resultType="BoardRecipeDTO">
		select * from board_recipe where board_recipe_no=#{board_recipe_no}
	</select>
	
	<update id="boardrecipemodify">
		update board_recipe set  board_recipe_title = #{board_recipe_title}, board_recipe_content = #{board_recipe_content} where board_recipe_no = #{board_recipe_no}
	</update>
	
	<update id="boardrecipecount">
		update board_recipe set board_recipe_count = board_recipe_count + 1 where board_recipe_no = #{board_recipe_no}
	</update>
	
	<update id="boardrecipelikes">
		update board_recipe set board_recipe_likes = board_recipe_likes + 1 where board_recipe_no = #{board_recipe_no}
	</update>
	
	<delete id="boardrecipedelete">
		delete from board_recipe where board_recipe_no = #{board_recipe_no}
	</delete>
	
	
	
</mapper>