<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.trycatch.coffee.mappers.orderMapper">  
	<insert id="insertMenu_Payment" parameterType="Menu_PaymentDTO">
	    insert into menu_payment(member_no, menu_reserve_time, menu_payment_style, menu_total_price, menu_total_mileage, order_name, order_tel, store_no)
	    values(#{member_no}, #{menu_reserve_time}, #{menu_payment_style}, #{menu_total_price}, #{menu_total_mileage}, #{order_name}, #{order_tel}, #{store_no})
	</insert>
	<select id="getNowInsert_Menu_Payment" resultType="Menu_PaymentDTO">
	    select * from menu_payment order by menu_payment_no desc
	</select>
	<insert id="insertMenu_Order" parameterType="Menu_OrderDTO">
		insert into menu_order (menu_payment_no, menu_no, menu_count, menu_option)
		values (#{menu_payment_no}, #{menu_no}, #{menu_count}, #{menu_option})
	</insert>
	<select id="getMenu_Payment_withMember_no" parameterType="hashMap" resultType="Menu_PaymentDTO">
		select p.menu_payment_no, p.menu_payment_date, p.order_name, p.menu_payment_style, p.menu_total_price, s.store_name 
		from menu_payment p, member mem, store s where p.member_no = mem.member_no and p.store_no = s.store_no
		and p.member_no = #{member_no}
		<if test="date != ''">
 		    and p.menu_payment_date like concat(#{date}, "%")
 		</if>
	</select>
	
	<select id="getMenu_DetailList_withMenu_Payment_no" parameterType="int" resultType="Menu_OrderDTO">
		select m.menu_name, o.menu_count, m.menu_price from menu_order o, menu m where o.menu_no = m.menu_num 
		and o.menu_payment_no = #{menu_payment_no}
	</select>
	<select id="getMemberMenuPaymentList" parameterType="hashMap" resultType="Menu_PaymentDTO">
	    select p.menu_payment_no, p.menu_payment_date, p.menu_total_price, s.store_name, p.menu_payment_style
        from menu_payment p, store s where p.store_no = s.store_no and 
        p.member_no = #{member_no}
        <if test="date != ''">
            and date(p.menu_payment_date) = #{date}
        </if>
	</select>
	<insert id="insertOrder_Alarm">
	    insert into order_alarm (order_category_no,order_content,store_no) values(#{order_category_no},#{order_content},#{store_no})
	</insert>
</mapper>