<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<package name="com.trycatch.coffee.member.domain" />
		<package name="com.trycatch.coffee.menu.domain" />
		<package name="com.trycatch.coffee.store.domain" />
		<package name="com.trycatch.coffee.cart.domain" />
		<package name="com.trycatch.coffee.board.recipe.domain" />
		<package name="com.trycatch.coffee.meeting_room.domain" />
	</typeAliases>
</configuration>